html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

aside ul {
  padding:0;
  margin:0;
  list-style-type:none;
  border-right:1px solid #cecece;
}
aside ul li {
  padding:10px;
  padding-left:40px;
  background-image: url(/phone-solid.svg);
  background-repeat:no-repeat;
  background-size:20px auto;
  background-position: center left;
  border-bottom:1px solid #ccc;
  cursor:pointer;
  transition: all 400ms;
}
aside ul li.active,
aside ul li:hover {
  background-color:#eaeaea;
  background-size:25px auto;
  background-position: 10px 15px;
}

.deleteContact {
  width:30px;
  height:30px;
  background-image: url(/trash-alt-regular.svg);
  background-size: 13px 13px;
  background-position:center center;
  background-repeat:no-repeat;
  float: right;
}

button.show-detail {
  background-image: url(/eye-solid.svg);
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
  width:32px;
  height:32px;
}

table.reports tr td:last-child {
  text-align:right;
}
table.reports thead tr th {
  text-align:right;
}