@{
    ViewData["Title"] = "Raporlar";
}
@model List<TelefonRehberi.Models.Report>
@using Newtonsoft.Json;

<div class="container-fluid">
    <div class="row mb-5">

        <div class="col-md-6">
            <h3>Raporlar &nbsp;<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Yeni Rapor Oluştur</button></h3>
        </div>
        <div class="col-md-6" style="text-align:right;">
        </div>

        <div class="col-12">
            <table class="table table-hover reports mt-3">
                <thead>
                    <tr>
                        <th style="width:50px; text-align:left;" scope="col">#</th>
                        <th style="text-align:left;" scope="col">Oluşturma Anı</th>
                        <th scope="col">Rapor Detayları</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model )
                    {
                    <tr>
                        <th scope="row">@item.UUID</th>
                        <td>@item.ReportDate.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>
                            @{
                                dynamic obj = JsonConvert.DeserializeObject( item.ReportDetail );
                                foreach(var row in obj) {
                                    <text>@row.InfoContent: @row.count Kişi | </text>
                                }
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Yeni Rapor Oluştur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            Konuma göre rapor talebi oluşturmak üzeresiniz. Emin misiniz?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
        <button type="button" class="btn btn-primary create-new-report-request" data-bs-dismiss="modal">Talep Gönder</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reportDetailModal" tabindex="-1" aria-labelledby="reportDetailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rapor Detayları</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="reportDetailHtml">
          Lütfen bekleyiniz...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>