﻿@{
    ViewData["Title"] = "Telefon Rehberi";
}
@model List<TelefonRehberi.Models.Contact>
@using Newtonsoft.Json;

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <aside>
                <ul>
                    @foreach (var item in Model )
                    {
                        <li data-contact data-details='@JsonConvert.SerializeObject(item, new JsonSerializerSettings() { ReferenceLoopHandling = ReferenceLoopHandling.Ignore})' >
                            <strong>@item.Ad @item.Soyad</strong>
                            <br />
                            <div class="row">
                                <div class="col-9 company">
                                    @item.Firma
                                </div>
                                <div class="col-3">
                                    <button data-UUID="@item.UUID" class="btn btn-danger btn-sm deleteContact"></button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </aside>
        </div>
        <div class="col-md-9">

            <form id="saveContact">
                <input type="hidden" name="UUID" value="">
                <div id="details" class="p5 d-block">
                    <h3 id="title_name"></h3>
                    <p id="title_firma"></p>

                    <div class="row mt-4">
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">Ad</span></div>
                                <input type="text" name="input_ad" id="input_ad" class="form-control" placeholder="Lütfen ad yazınız.">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">Soyad</span></div>
                                <input type="text" name="input_soyad" id="input_soyad" class="form-control" placeholder="Lütfen soyad yazınız.">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">Firma</span></div>
                                <input type="text" name="input_firma" id="input_firma" class="form-control" placeholder="Lütfen firma yazınız.">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6>İletişim Bilgileri</h6>

                            <div id="iletisim_satirlari">
                                <div class="row align-items-end mt-2 iletisim_satir">
                                    <div class="col-5">
                                        <div style="line-height:30px;">Bilgi Tipi</div>
                                        <select name="info_type" class="form-control">
                                            <option value="Telefon">Telefon</option>
                                            <option value="Konum">Konum</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <div style="line-height:30px;">Bilgi</div>
                                        <input type="text" name="info_content" class="form-control" placeholder="...">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-danger remove-row">-</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="button" class="btn btn-primary add-new-row">+</button>
                        <button class="btn btn-success">Kaydet</button>
                    </div>
                </div>
            </form>

            <div id="template_iletisim" class="d-none">
                <div class="row align-items-end mt-2 iletisim_satir">
                    <div class="col-5">
                        <div style="line-height:30px;">Bilgi Tipi</div>
                        <select name="info_type" class="form-control">
                            <option value="Telefon">Telefon</option>
                            <option value="Konum">Konum</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <div style="line-height:30px;">Bilgi</div>
                        <input type="text" name="info_content" class="form-control" placeholder="...">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger remove-row">-</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
